:root {
    --backdrop:
}

body {
    margin: 0;
    color: white;

    font-family: sans-serif;
}

#app {
    height: 100vh;
    width: 100vw;

    background-color: rgb(44, 44, 44);

    display: flex;
    flex-direction: column;

    position: relative;
}

#main-content {
    box-sizing: border-box;
    padding: 10px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#navbar {
    background-color: hotpink;
    color: black;
    padding: 5px;
}

#postlist {
    background-color: rgba(0, 0, 255, 0.192);

    display: flex;
    flex-direction: column;
    gap: 10px;

    flex-grow: 1;
}

.post {
    padding: 5px;
    background-color: rgb(29, 29, 29);
}

#expanded-post {
    background-color: rgb(29, 29, 29);
    padding: 5px;

}

#comment-form {
    background-color: blue;
}

.comment {
    background-color: burlywood;
    color: black;
}